@model JobsAbility.Models.JobDescriptionDTO
@{
    ViewData["Title"] = "JobDescription";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="breadcrumb-wrapper">

                    <div class="content">
                        <h3 class="product-title">@Model.Title</h3>
                        <p class="brand">@Model.Company</p>
                        <div class="tags"><span><i class="lni-calendar"></i>Posted @Model.Date</span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<section class="job-detail section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="content-area">
                    @Html.Raw(Model.Details)
                    @using (Html.BeginForm("Apply", "home", FormMethod.Post))
                    {
                        <input name="id" type="hidden" value="@Model.Id"/>
                        <button type="submit" class="btn btn-common">Apply job</button>
                    }
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12">
                <div class="sideber">
                    <div class="widghet">
                        <h3>Job Location</h3>
                        <div class="maps">
                            <div id="map" class="map-full">
                                <iframe src="@Model.LocationLink" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="featured" class="section bg-gray pb-45">
    <div class="container">
        <h4 class="small-title text-left">Similar Jobs</h4>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="job-featured">
                   
                    <div class="content">
                        <h3><a href="#">Software Engineer</a></h3>
                        <p class="brand">MizTech</p>
                        <div class="tags"><span><i class="lni-map-marker"></i>New York</span><span><i class="lni-user"></i>John Smith</span></div><span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="job-featured">
                   
                    <div class="content">
                        <h3><a href="#">Graphic Designer</a></h3>
                        <p class="brand">Hunter Inc.</p>
                        <div class="tags"><span><i class="lni-map-marker"></i>New York</span><span><i class="lni-user"></i>John Smith</span></div><span class="part-time">Part Time</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="job-featured">
                  
                    <div class="content">
                        <h3><a href="#">Managing Director</a></h3>
                        <p class="brand">MagNews</p>
                        <div class="tags"><span><i class="lni-map-marker"></i>New York</span><span><i class="lni-user"></i>John Smith</span></div><span class="full-time">Full Time</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

